/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 22, 2024, 7:51:18 PM
    Author     : eliec
*/

body{
    background-color: #3d3e40;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

footer p{
    color:white;
}

h1,h2{
    text-align: center;
}
h1{

    color: white;
    font-size: 32px;
}

h2{
    color: white;
    font-size: 24px;
}


.trending{
    background-color: black;
}

.article_list{
  padding: 10px;
  display: flex;
}


.article_list:nth-child(odd){
    background-color: #828385;
    color: white;
}

.article_list:nth-child(even){
    background-color: #3d3e40;
    color: white;
}

.article_list_imgtitle{
    width: 410px;
    text-align: center;
}

.article_list_description{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}



